.container {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid #cccccc;
    border-radius: 20px;
}
.container > * {
    display: flex;
    margin-bottom: 15px; 
}
.container button {
    float: right;
    background: #069cff;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #069cff;
}
.container .form-group label {
    font-weight: bold;
}
.container .form-group * {
    display: inline-block;
    width: 50%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}